# SP500 sample

In this sample we are using ***sandbox*** data

In [25]:
import numpy as np
import pandas as pd
import requests
import xlsxwriter
import math
from secrets import IEX_CLOUD_API_TOKEN


stocks = pd.read_csv('sp_500_stocks.csv')

In [26]:
## Single symbol API call
symbol='AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()

In [27]:
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [28]:
# Adding stocks data to pd dataframe
my_columns = ['Ticker', 'Price', 'Market Capitalization', 'Number Of Shares to Buy']

symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []

for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))

# create empty dataframe
final_dataframe = pd.DataFrame(columns=my_columns)

# Use batch api call
for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        # append data into dataframe
        final_dataframe = final_dataframe.append(
            pd.Series([symbol, 
                       data[symbol]['quote']['latestPrice'], 
                       data[symbol]['quote']['marketCap'], 
                       'N/A'], 
                      index = my_columns), 
            ignore_index = True)

final_dataframe

    Ticker   Price Market Capitalization Number Of Shares to Buy
0        A  121.88           37317887682                     N/A
1      AAL   18.18           10955703244                     N/A
2      AAP  154.01           10437779069                     N/A
3     AAPL  142.99         2321854785245                     N/A
4     ABBV  105.08          192056687679                     N/A
..     ...     ...                   ...                     ...
500    YUM  106.67           32463551222                     N/A
501    ZBH  159.13           33343503128                     N/A
502   ZBRA  408.89           21626904774                     N/A
503   ZION   47.05            7611887261                     N/A
504    ZTS  159.89           75101428620                     N/A

[505 rows x 4 columns]

In [33]:
# Total money
portfolio_size = input("Enter the value of your portfolio:")

try:
    val = float(portfolio_size)
except ValueError:
    print("That's not a number! \n Try again:")
    portfolio_size = input("Enter the value of your portfolio:")

Enter the value of your portfolio:dddd
That's not a number!
 Try again:
Enter the value of your portfolio:dddd

In [32]:
# Money for each stock
position_size = float(portfolio_size) / len(final_dataframe.index)
for i in range(0, len(final_dataframe['Ticker'])-1):
    final_dataframe.loc[i, 'Number Of Shares to Buy'] = math.floor(position_size / final_dataframe['Price'][i])
final_dataframe

    Ticker   Price Market Capitalization Number Of Shares to Buy
0        A  121.88           37317887682                      20
1      AAL   18.18           10955703244                     134
2      AAP  154.01           10437779069                      15
3     AAPL  142.99         2321854785245                      17
4     ABBV  105.08          192056687679                      23
..     ...     ...                   ...                     ...
500    YUM  106.67           32463551222                      22
501    ZBH  159.13           33343503128                      15
502   ZBRA  408.89           21626904774                       5
503   ZION   47.05            7611887261                      52
504    ZTS  159.89           75101428620                     N/A

[505 rows x 4 columns]